{% extends "base/base.html" %}
{% block head %}
    <script type="text/javascript" src="/assets/js/app/controllers/companyDevicesController.js"></script>
{% endblock %}

{% block title %}Kinetic Adminboard{% endblock %}
{% block navmenu_items %}
    <li><a href="/adminboard/">ADMIN BOARD</a></li>
    <li><a href="/adminboard/companies/">COMPANIES</a></li>
    <li><a href="/adminboard/devices/">DEVICES</a></li>
{% endblock %}

{% block page_header %}{% endblock %}
{% block content %}
    {% include 'adminboard/content.html' %}
{% endblock %}

{% block ngTemplates %}
    {% include 'company/ngTemplates/device.html' %}
    {% include 'adminboard/ngTemplates/company.html' %}
    {% include 'adminboard/ngTemplates/allocated_device.html' %}
{% endblock %}