{% extends "adminboard/base.html" %}

{% block content %}

    <div class="container" ng-controller="companyDevicesController" ng-init="init('{{devices}}', '{{companies}}')">
        <div class="col-sm-6">
            <company ng-repeat="company in companies.items"></company>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <allocated-device ng-repeat="device in devices.back.items"></allocated-device>
                </div>
            </div>
        </div>
    </div>

{% endblock %}