{% extends "adminboard/base.html" %}

{% block content %}

<div class="container" ng-controller="companyDevicesController" ng-init="init('{{devices}}')">
    <ul class="nav nav-tabs">
      <li ng-class="{active: devices.tabs.back}"><a href="#" ng-click="devices.changeTab($event)">Back Devices</a></li>
      <li ng-class="{active: devices.tabs.wrist}"><a href="#" ng-click="devices.changeTab($event)">Wrist Devices</a></li>
    </ul>
    <div class="panel panel-default" ng-show="devices.tabs.back">
        <div class="panel-body">
            <device class="device form-inline" ng-repeat="device in devices.back.items"></device>
        </div>
    </div>
    <div class="panel panel-default" ng-show="devices.tabs.wrist">
        <div class="panel-body">
            <device class="device form-inline" ng-repeat="device in devices.wrist.items"></device>
        </div>
    </div>
</div>

{% endblock %}