<!--[if IE]>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet" type="text/css">
<![endif]-->

<!--[if lte IE 8]>
<style>
    .navbar-default .navbar-collapse {
    position: relative;
    top: -56px;
    }

</style>
<![endif]-->


<!--[if lt IE 9]> -->
    <script src="/assets/js/html5shiv.js"></script>
<!--[endif]-->