<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Kinetic{% endblock %}</title>

        {% include 'base/head.html' %}

        {% block head %}{% endblock %}


    </head>
    <body ng-app="dashboardApp">
        <div class="nav-sm container body" {% block main_container %}{% endblock %}>
            <div class="main_container" {% block secondary_container %}{% endblock %}>

                {% block side_menu %}{% endblock %}



                <div class="top_nav">
                    <nav class="navbar navbar-default nav_menu" ng-controller="navbarController">
                        <div class="container">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#"><img class="logo" src="/assets/img/kinetic.png" alt="KINETIC"></a>
                            </div>
                            <div id="navbar" class="navbar-collapse">
                                <ul class="nav navbar-nav pull-right" ng-init="whichActive()">
                                    {% block navmenu_items %}{% endblock %}
                                    <li class="user_details">

                                        {% if user.is_authenticated %}
                                            <button class="btn btn-link btn-sm" ng-click="loginModal.doLogout($event)">Log Out</button>
                                        {% else %}
                                            <button class="btn btn-link btn-sm" ng-click="loginModal.show($event)">Log In</button>
                                        {% endif %}

                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% include 'base/login_modal/modal_base.html' %}
                    </nav>
                </div>


                {% block page_header %}{% endblock %}


                <div class="right_col{% block  right_col_modifiers %}{% endblock %}" role="main">
                    {% block content %}{% endblock %}


                    {% block ngTemplates %}
                        {% include 'company/ngTemplates/department.html' %}
                        {% include 'company/ngTemplates/company-device.html' %}
                        {% include 'company/ngTemplates/employee.html' %}
                        {% include 'company/ngTemplates/device.html' %}
                        {% include 'company/ngTemplates/navbar_department.html' %}
                        {% include 'company/ngTemplates/navbar_company.html' %}
                        {% include 'company/ngTemplates/calendar.html' %}
                        {% include 'company/ngTemplates/alert.html' %}
                    {% endblock %}
                </div>
                {% block footer %}
                    {% include 'base/footer.html' %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
