<footer>
    <span>
        Stats and Insights provided and powered by
        <a class="know-more" href="http://wearkinetic.com" target='_blank'>
            <strong>Kinetic</strong>
        </a>
    </span>
</footer>


{% block scripts %}
    {% include 'base/static/footer_static.html' %}
{% endblock %}
{% block legacy_footer %}
    {#% include 'base/legacy/footer.html' %#}
{% endblock %}