<div class="form-group">
    <label for="{{tag_id}}" class="col-sm-2 control-label">Name</label>

    <div class="col-sm-10">
        <input type="text" class="form-control" id="{{tag_id}}" placeholder="Company Name"
               ng-model="company.settings.name">
    </div>
</div>