<div class="form-group">
    {% verbatim %}
        <button class="btn btn-default pull-right" ng-cloak ng-click="company.save()">
            {{ company.settings.saveButtonText() }}
        </button>
    {% endverbatim %}
</div>