{% include 'company/tabs/partials/company_name.html' with tag_id='company_name' %}

<div class="form-group">
    <label for="company_street1" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="company_street1" placeholder="Company Address"
               ng-model="company.settings.street1">
    </div>
</div>
<div class="form-group">
    <label for="company_street2" class="col-sm-2 control-label">Address Line 2</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="company_street2" placeholder="Address line 2"
               ng-model="company.settings.street2">
    </div>
</div>
<div class="form-group">
    <label for="company_city" class="col-sm-2 control-label">City</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="company_city" placeholder="City"
               ng-model="company.settings.city">
    </div>
</div>
<div class="form-group">
    <label for="company_state" class="col-sm-2 control-label">State</label>
    <div class="col-sm-10">
        <input type="text"
               class="form-control"
               id="company_state"
               placeholder="State"
               ng-model="company.settings.state" />
    </div>
</div>
<div class="form-group">
    <label for="company_timezone" class="col-sm-2 control-label">Timezone</label>
    <div class="col-sm-10" ng-init="company.timezones = {{timezones}}">
        <select id="company_timezone" class="form-control" ng-model="company.settings.timezone">
            {% verbatim %}
            <option ng-repeat="tz in company.timezones"
                    ng-selected="company.settings.timezone === tz.split(' ')[0]"
                    value="{{tz.split(' ')[0]}}">{{tz}}</option>
            {% endverbatim %}
        </select>
    </div>
</div>
{% include 'company/tabs/partials/save_settings_button.html' %}