{% extends "base/base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="/assets/css/c3.css" />

    <script type="text/javascript" src="/assets/js/app/lib/moment.js"></script>
    <script type="text/javascript" src="/assets/js/app/lib/moment-timezone.js"></script>

    <script type="text/javascript" src="/assets/js/app/lib/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/assets/js/app/lib/c3.js"></script>

    <script type="text/javascript" src="/assets/js/app/controllers/companyController.js"></script>
    <script type="text/javascript" src="/assets/js/app/controllers/departmentController.js"></script>
{% endblock %}

{% block title %}Department{% endblock %}

{% block main_container %}ng-controller="companyController" ng-init="companyInit({{ company }})"{% endblock %}
{% block secondary_container %}ng-controller="departmentController"s ng-init="init('{{department.id}}', '{{department.timezone}}', '{{company_metrics}}')"{% endblock %}

{% block navmenu_items %}
    <li class="dropdown"
        ng-init="companies.items = {{user_companies}}"
        ng-mouseover="companies.show()"
        ng-mouseout="companies.hide()"
        ng-class="companies.visible ? 'open': ''">
        <a class="dropdown-toggle"
           href="/dashboard/company/"
           ng-click="company.tab_click($event)">Company</a>
        <ul class="dropdown-menu" ng-show="companies.visible" ng-if="companies.items.length > 1">
            <navbar-company ng-repeat="company in companies.items"></navbar-company>
        </ul>
    </li>
    <li class="dropdown"
        ng-mouseover="departments.show()"
        ng-mouseout="departments.hide()"
        ng-class="departments.visible ? 'open': ''">
        <a class="dropdown-toggle" href="/dashboard/department/" ng-click="departments.tab_click($event)">Department</a>
        <ul class="dropdown-menu" ng-show="departments.visible" ng-if="department.items.length > 1">
            <navbar-department ng-repeat="department in departments.items"></navbar-department>
        </ul>
    </li>
    {% if False %}
        <li><a href="/dashboard/top_rankings/">Top Rankings</a></li>
    {% endif %}
{% endblock %}

{% block right_col_modifiers %} left_menu_bar{% endblock %}

{% block side_menu %}
    <div class="left_col">
        <div class="left_col scroll-view">
            <div class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <ul class="nav side-menu">
                        <li ng-class="{'active-sm': tabs.tabs.dashboard}">
                            <a href="#"
                               ng-click="tabs.change($event, 'dashboard')" >
                                <i class="dashboard"></i>
                            </a>
                        </li>
                        <li ng-class="{'active-sm': tabs.tabs.leaderboard}">
                            <a href="#"
                               ng-click="tabs.change($event, 'leaderboard')">
                                <i class="leaderboard"></i>
                            </a>
                        </li>
                        {% if user.is_superuser %}
                            <li ng-class="{'active-sm': tabs.tabs.calendar}">
                                <a href="#"
                                   ng-click="tabs.change($event, 'calendar')" >
                                    <i class="fa fa-calendar"></i>
                                    Schedule
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
        {% include 'department/page_header.html' %}
        {% include 'department/content.html' %}
{% endblock %}

