<div class="" ng-show="tabs.tabs.dashboard">
    {% verbatim %}

    <h3>Dashboard</h3>

    <div class="row tile_count">
        <div ng-repeat="stat in metrics.stats" class="animated flipInY col-sm-3 tile_stats_count">
            <div class="left"></div>
            <div class="right" title="{{stat.dates}}">
                <span class="metrics_header">{{ stat.title }}</span>
                <span class="metrics_description">{{ stat.description_1 }}
                                            <br />{{ stat.description_2 }}</span>
                <span class="metrics_value">
                    <i ng-if="stat.title === '% Change'"
                       ng-class="stat.get_arrow()" class="fa"></i>
                    <span class="value" ng-class="stat.get_class()">
                        {{ stat.get_value() }}
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <h3>High Risk Lifts</h3>

    <div class="row" style="margin-left: -20px; position: relative">
        <a href="#" class="date pull-right" ng-click="metrics.pick_week($event)">
            {{ metrics.get_date('graph_start_day') }} - {{ metrics.get_date('graph_end_day') }}
            <i class="fa fa-calendar"></i>
        </a>
        <div class="dropdown_calendar" ng-show="metrics.dropdown_calendar">
            <calendar class="calendar" calendar="metrics.calendar"></calendar>
            <br />
            <button class="btn btn-primary" ng-click="metrics.change_week()">Load Data for {{ metrics.get_calendar_range(' - ') }}</button>
        </div>
    </div>

    <ul class="nav nav-tabs bar_tabs">
        <li ng-cloak
            ng-repeat="(job, _) in metrics.charts"
            ng-class="{active: metrics.tabs.tabs[job]}">
            <a href="#" ng-click="metrics.tabs.changeTab($event, job)">{{job | capitalize}}{{job === 'all'?'':'s'}}</a>
        </li>
    </ul>
    <div ng-cloak
         ng-repeat="(job, _) in metrics.charts"
         ng-show="metrics.tabs.tabs[job]"
         id="{{job}}"></div>

    <div class="clearfix"></div>

    <h3>Team Members</h3>
    <div class="date_window" style="margin-top:-30px">
        <a href="#" ng-click="metrics.render_team_members($event, false)">
            <i class="fa fa-chevron-left"></i>
        </a>
        <span>{{ metrics.shift_day.format('MMMM Do') }}</span>
        <a href="#" ng-click="metrics.render_team_members($event, true)">
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>


    <div class="workers_chart">
        <worker ng-repeat="(idx, row) in metrics.team_members" class="row worker"></worker>
    </div>

    <span class="dotted_link" ng-click="tabs.change($event, 'leaderboard')">view leaderboard</span>


</div>


<div class="" ng-show="tabs.tabs.leaderboard">

    <h3>Leaderboard</h3>

    <ul class="nav nav-tabs bar_tabs">
        <li ng-cloak
            ng-repeat="(job, _) in metrics.charts"
            ng-class="{active: metrics.tabs.tabs[job]}">
            <a href="#" ng-click="metrics.tabs.changeTab($event, job)">{{job | capitalize}}{{job === 'all'?'':'s'}}</a>
        </li>
    </ul>
    <div ng-cloak
         ng-repeat="(job, _) in metrics.leaderboards.jobs"
         ng-show="metrics.tabs.tabs[job]">
        <div class="row">
            <select ng-model="metrics.leaderboards.current_date"
                    ng-change="metrics.leaderboards.change_board(job)"
                    class="pull-right" style="margin-top: -80px">
                <option ng-repeat="date in metrics.leaderboards.period">{{ date }}</option>
            </select>
        </div>
        <div class="row leaderboard_list">
            <div class="leaders" ng-if="metrics.leaderboards.jobs[job].board.length > 3"></div>
            <div class="outsiders" ng-if="metrics.leaderboards.jobs[job].board.length > 5"></div>
            <h4 ng-if="! metrics.leaderboards.jobs[job].board.length">No data found for the {{ metrics.leaderboards.get_current_date() }}</h4>
            <table ng-if="metrics.leaderboards.jobs[job].board.length" class="table table-internal-borders-only">
                <thead>
                    <tr>
                        <th width="40%"></th>
                        <th width="15%"><span>Rank</span></th>
                        <th width="15%"><span>Change</span></th>
                        <th width="15%"><span>High-Risk Lifts</span></th>
                        <th width="15%"><span>Change</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="worker in metrics.leaderboards.jobs[job].board">
                        <td><span class="value">{{ worker.name }}<br />{{ worker.job }}</span></td>
                        <td><span class="value">{{ worker.rank }}</span></td>
                        <td>
                            <i ng-if="worker.rank_change" ng-class="{'red fa-long-arrow-down': worker.rank_change < 0, 'green fa-long-arrow-up': worker.rank_change > 0}" class="fa"></i>
                            <span ng-class="{red: worker.rank_change < 0, green: worker.rank_change > 0, value: !worker.rank_change }">
                                {{ worker.rank_change === null ? '-' : (worker.rank_change > 0 ? worker.rank_change : -worker.rank_change) }}
                            </span>
                        </td>
                        <td><span class="value">{{ worker.lifts }}</span></td>
                        <td>
                            <i ng-if="worker.lifts_change" ng-class="{'green fa-long-arrow-down': worker.lifts_change < 0, 'red fa-long-arrow-up': worker.lifts_change > 0}" class="fa"></i>
                            <span ng-class="{green: worker.lifts_change < 0, red: worker.lifts_change > 0, value: !worker.lifts_change}">
                                {{ worker.lifts_change === null ? '-' : (worker.lifts_change > 0 ? worker.lifts_change : -worker.lifts_change) }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="false && metrics.leaderboards.jobs[job].board">
                {{metrics.leaderboards.jobs[job].board}}
            </div>
        </div>
    </div>
    {% endverbatim %}
</div>


<div class="row" ng-show="tabs.tabs.calendar">
    <div class="col-sm-4">
        <calendar class="calendar" calendar="calendar"></calendar>
        <button ng-click="schedule.loadSchedule()">
            {% verbatim %}
                Load Schedule for {{calendar.selected.format('dddd, MMMM Do YYYY')}}
            {% endverbatim %}
        </button>
    </div>
</div>
{% include 'department/schedule_modal.html' %}
{% include 'department/ngTemplates/worker.html' %}
