<div id="schedule_box" class="modal fade" ng-class="{'in': schedule.modal.visible}"
     ng-style="{display: (schedule.modal.visible ? 'block' : 'none') }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {% include 'department/schedule.html' %}
        </div>
    </div>
    <div class="overlay" ng-cloak ng-show="schedule.modal.visible"></div>
</div>