<div class="modal-header">
    <h4 class="modal-title">
        {% verbatim %}
        <h4>Schedule for {{ schedule.date.format("dddd, MMM Do YYYY") }}</h4>
        {% endverbatim %}
    </h4>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Back Device</th>
            {% if False %}
                <th>Wrist Device</th>
            {% endif %}
            <th>Job</th>
            <th>Employee</th>
            <th>Actions</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="shift in schedule.items">
                {% verbatim %}
                <td>
                    <h4>{{shift.back_device.name}}</h4>
                </td>
                {% endverbatim %}
                {% if False %}
                    <td>
                        <select class="form-control" ng-model="shift.wrist_device">
                            <option ng-repeat="device in schedule.devices | filter: { wrist: true }" ng-selected="shift.wrist_device===device.id" value="{{device.id}}">{{device.name}}</option>
                        </select>
                    </td>
                {% endif %}
                {% verbatim %}
                <td>
                    <input class="form-control pseudo-dropdown" ng-model="shift.job_name" ng-click="shift.resetJob('job')" />
                    <select class="form-control pseudo-dropdown" ng-model="shift.job" ng-change="shift.resetJob('job_name')">
                        <option ng-repeat="job in schedule.company.jobs.items"
                                ng-selected="shift.job===job.id || (!shift.job && !shift.job_name && $index === 0)"
                                value="{{job.id}}">{{job.name}}</option>
                    </select>
                </td>
                <td>
                    <select class="form-control"
                            ng-model="shift._employee"
                            ng-change="schedule.employeeWasPicked(shift)">
                        <option value=""></option>
                        <option ng-repeat="employee in schedule.employees"
                                ng-selected="shift.employee===employee.id"
                                ng-hide="employee.hidden"
                                value="{{employee.id}}">{{employee.given_name}} {{employee.family_name}}
                        </option>
                    </select>
                </td>
                <td class="action_buttons">

                    <button class="btn btn-success btn-lg"
                            ng-click="shift.actions.use()"
                            ng-class="{disabled: !shift.employee || shift.end_time,
                            active: shift.employee && shift.start_time && !shift.end_time}">
                        {{shift.start_time ? 'Started at' : 'Start'}}<br />{{shift.start_time.format('h:mm:ssa')}}</button>

                    <button class="btn btn-danger btn-lg"
                            ng-click="shift.actions.drop()"
                            ng-class="{disabled: !shift.employee || !shift.start_time || shift.end_time}">
                        {{shift.end_time ? 'Finished at' : 'Finish'}}<br/>{{shift.end_time.format('h:mm:ssa')}}</button>

                    <div class="form-inline" ng-show="shift.actions.change_time">
                        <input class="col-sm-6"
                               type="text"
                               placeholder="Start Time HH:MM:SS"
                               ng-model="shift.actions.start_time"
                               ng-change="shift.actions.update_time('start_time')"/>

                        <input class="col-sm-6"
                               type="text"
                               placeholder="End Time HH:MM:SS"
                               ng-model="shift.actions.end_time"
                               ng-change="shift.actions.update_time('end_time')"/>
                    </div>
                    <label><input type="checkbox" ng-model="shift.actions.change_time"/>Change time</label>
                    <a href="#" class="pull-right" ng-click="shift.actions.clone($event, $index)">Clone</a>
                </td>
                <td><textarea class="form-control" ng-model="shift.notes" placeholder="Notes"></textarea></td>
            </tr>
            {% endverbatim %}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="schedule.save()">Save</button>
    <button type="button" class="btn btn-default" ng-click="schedule.modal.hide()">Close</button>
</div>
