<alert></alert>

{% verbatim %}
    <h3 ng-cloak>{{company.settings.name}} :: Company Breakdown</h3>
{% endverbatim %}

<div class="clearfix row">
    <div class="col-xs-3">
        <ul class="nav nav-tabs tabs-left">
            {% verbatim %}
                <li ng-class="active && 'active'" ng-repeat="(tab, active) in tabs.tabs">
                    <a href="#" ng-cloak ng-click="tabs.change($event, tab)">{{ tab | capitalize }}</a>
                </li>
            {% endverbatim %}
        </ul>
    </div>

    <div class="col-xs-9">

        <div id="company_breakout" class="tab-content" ng-cloak ng-show="company.settings.id">

            <div ng-cloak ng-show="tabs.isVisible('settings')" class="tab_pane">
                {% include 'company/tabs/company.html' %}
            </div>

            <div ng-cloak ng-show="tabs.isVisible('employees')" class="tab_pane">
                {% include 'company/tabs/partials/add_button.html' with object='employee' %}
                {% include 'company/tabs/objects_collection.html' with object='employee' %}
            </div>

            <div ng-cloak ng-show="tabs.isVisible('devices')" class="tab_pane">
                {% include 'company/tabs/objects_collection.html' with object='device' %}
            </div>

            <div ng-cloak ng-show="tabs.isVisible('departments')" class="tab_pane">
                {% include 'company/tabs/partials/add_button.html' with object='department' %}
                {% include 'company/tabs/objects_collection.html' with object='department' %}
            </div>

        </div>
        <div id="first_company" ng-cloak ng-show="!company.settings.id">
            {% include 'company/tabs/partials/first_company.html' %}
        </div>


    </div>
</div>
<div class="row">
    <button class="btn btn-default" ng-cloak ng-click="save(company)">Save Screen</button>
    <button class="btn btn-default" ng-cloak ng-click="company.saveAll()">Save Everything</button>
</div>
