<script type="text/ng-template" id="worker">
    {% verbatim %}
        <div class="col-sm-4 worker" ng-repeat="worker in row">
            <div class="circle" ng-click="worker.build_graph($event)">
                {{ worker.lifts_to_display }}
            </div>
            <div class="worker_graph" ng-show="worker.graph_is_visible" ng-style="{ 'left': -($index * 50) + '%' }">
                <a href="#" ng-click="worker.toggle_graph($event)" class="pull-right" style="margin-right:-10px">
                    <i class="fa fa-close"></i>
                </a>
                <h4>{{worker.name}}</h4>
                <div class="date_window">
                    <a href="#" ng-click="worker.build_graph($event, false)">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <span><u>{{worker.shift_lifts_to_display}}</u>
                            high-risk lifts as of
                            <u>{{ worker.graph_date.format('MMMM Do') }}</u></span>
                    <a href="#" ng-click="worker.build_graph($event, true)">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
                <div id="worker{{ worker.id }}"></div>
            </div>
            <span class="worker_name">{{ worker.name }}</span>
            <span class="worker_job">{{ worker.job | capitalize }}</span>
        </div>
    {% endverbatim %}
</script>