<script type="text/ng-template" id="allocated_device">
    <div class="">
        <label ng-class="{'text-normal': !device.ready_for_allocation}">
            {% verbatim %}
                {{ device.name }}
            {% endverbatim %}
            <input type="checkbox"
                   ng-model="device.ready_for_allocation"
                   ng-hide="device.allocated"
                   ng-click="device.allocate()" />
        </label>
        <button class="btn btn-danger btn-xs"
                ng-show="device.allocated"
                ng-click="device.release($index)">Release
        </button>

    </div>
</script>
