<script type="text/ng-template" id="company">
    <div class="panel panel-default">
        <div class="panel-body">
            {% verbatim %}
                <h4>
                    {{ company.name }}
                    <button class="btn btn-success btn-sm pull-right"
                            ng-class="{disabled: devices.allocated_devices.length < 1 }"
                            ng-click="company.allocateDevices()">Allocate Devices</button>
                </h4>
            {% endverbatim %}

            <allocated-device ng-repeat="device in company.devices.items"></allocated-device>
        </div>
    </div>
</script>
