<script type="text/ng-template" id="alert">
    {% verbatim %}
        <div class="alert alert-{{alert.severity}} alert-action-responder"  ng-show="alert.show">
            {{alert.msg}}
        </div>
    {% endverbatim %}
</script>