<script type="text/ng-template" id="calendar">
    <div class="header text-center">
        <i class="" ng-click="calendar.previous()"><</i>
        {% verbatim %}
        <span>{{ calendar.month.format("MMMM, YYYY") }}</span><span ng-if="calendar.panes.length > 1" style="margin-left:150px;">{{ calendar.panes.length > 1 && calendar.month.clone().add(1, "M").format("MMMM, YYYY") }}</span>
        {% endverbatim %}
        <i class="pull-right" ng-click="calendar.next()">></i>
    </div>
    <div class="calendar_pane" ng-repeat="pane in calendar.panes" ng-class="{'multiple-first': pane.weeks.length > 1 && $index === 0,
                                                                             'multiple-last': $index === 1}">
        <div class="week names">
            <span class="day">Sun</span>
            <span class="day">Mon</span>
            <span class="day">Tue</span>
            <span class="day">Wed</span>
            <span class="day">Thu</span>
            <span class="day">Fri</span>
            <span class="day">Sat</span>
        </div>
        {% verbatim %}
        <div class="week" ng-repeat="week in pane.weeks">
            <span class="day"
                  ng-class="{'today': day.isToday,
                             'different-month': !day.isCurrentMonth,
                             'selected': (day.date.isAfter(calendar.selected) && day.date.isBefore(calendar.selected_end)) ||
                                            day.date.isSame(calendar.selected) ||
                                            day.date.isSame(calendar.selected_end),
                             'special': calendar.specialDays.indexOf(day.date.format('YYYY-MM-DD')) > -1
                             }"
                  ng-click="calendar.select(day)"
                  ng-repeat="day in week.days">
                {{day.number}}
            </span>
        </div>
        {% endverbatim %}
    </div>

</script>
