<script type="text/ng-template" id="company-device">
    <div class="form-horizontal">
        <div class="device form-group">
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Device Name"
                       ng-model="company.devices.items[$index].name"/>
            </div>
            <div class="col-sm-6">
                <textarea type="text" class="form-control" placeholder="Write anything about the device"
                          ng-model="company.devices.items[$index].notes"></textarea>
            </div>
            <div class="col-sm-6">
                <input type="checkbox" ng-model="company.devices.items[$index].wrist"/>
            </div>
            <div class="col-sm-6">
                {% verbatim %}
                    Department: {{company.devices.items[$index].department}}
                {% endverbatim %}
            </div>
            <div class="col-sm-12">
                {% include 'company/tabs/delete_object_button.html' with object='device' %}
                {% include 'company/tabs/save_object_button.html' with object='device' %}
            </div>
        </div>
    </div>
</script>

