<script type="text/ng-template" id="department">
    <div class="form-horizontal">
        <div class="department form-group">
            <div class="col-sm-6">
                <input type="text"
                       class="form-control"
                       placeholder="Department Name"
                       ng-model="department.name"/>
            </div>
            <div class="col-sm-12">
                {% include 'company/tabs/delete_object_button.html' with object='department' %}
                {% include 'company/tabs/save_object_button.html' with object='department' %}
            </div>
        </div>
    </div>
</script>