<script type="text/ng-template" id="device">
    <div class="form-group">
        {% verbatim %}
        <label>
            {{ device.name }}
        </label>
        {% endverbatim %}
        {% verbatim %}
            <input type="text"
                   class="form-control"
                   placeholder="Label"
                   ng-model="device.label"
                   title="{{device.label}}" />
            <label>
                <input type="checkbox" ng-click="device.toggleNote()"/>Add Note
            </label>
            <textarea class="form-control"
                      placeholder="Add Note"
                      ng-model="device.notes"
                      ng-show="device.showNotes"></textarea>
        {% endverbatim %}
        <button class="btn btn-default" ng-click="device.save($index)">Save</button>
    </div>
</script>
