<script type="text/ng-template" id="device">
    <div class="col-sm-12">
        <h4>
        {% if user.is_superuser %}
            {% verbatim %}{{ device.id }}{% endverbatim %}
        {% else %}
            {% verbatim %}{{ device.name }}{% endverbatim %}
        {% endif %}
        </h4>
    </div>
    {% if user.is_superuser %}
        <div class="col-sm-6">
            {% verbatim %}
                <input type="text"
                       readonly="readonly"
                       class="form-control"
                       placeholder="Device Name"
                       ng-model="device.name"
                       title="{{device.name}}"/>
                <label>
                    <input type="checkbox" ng-model="device.wrist"/>Wrist
                </label>
            {% endverbatim %}
            <button class="btn btn-default" ng-click="device.save($index)">Save</button>
            <button class="btn btn-default" ng-click="device.remove($index)">Delete</button>
        </div>
    {% endif %}
    <div class="col-sm-6">
        {% verbatim %}
            <input type="text"
                   class="form-control"
                   placeholder="Label"
                   ng-model="device.label"
                   title="{{device.label}}" />
            <label>
                <input type="checkbox" ng-click="device.toggleNote()"/>Add Note
            </label>
            <textarea class="form-control"
                      placeholder="Add Note"
                      ng-model="device.notes"
                      ng-show="device.showNotes"></textarea>
        {% endverbatim %}
        {% if not user.is_superuser %}
            <button class="btn btn-default" ng-click="device.save($index)">Save</button>
        {% endif %}
    </div>
</script>
