<script type="text/ng-template" id="employee">
    <div class="form-horizontal">
        {% verbatim %}
        <h4>{{ employee.given_name }} {{ employee.family_name }}</h4>
        {% endverbatim %}
        <div class="employee form-group">
            <div class="col-sm-6">
                <input type="text"
                       class="form-control"
                       placeholder="Employee First Name"
                       ng-model="employee.given_name"/>
            </div>
            <div class="col-sm-6">
                <input type="text"
                       class="form-control"
                       placeholder="Employee Last Name"
                       ng-model="employee.family_name"/>
            </div>
            {% verbatim %}
            <div class="col-sm-6">
                <div class="form-inline">
                    <select class="form-control" ng-model="employee.height_ft">
                        <option ng-repeat="n in [] | range:7">{{n}}</option>
                    </select>ft.
                    <select class="form-control" ng-model="employee.height_in">
                        <option ng-repeat="n in [] | range:0:11">{{n}}</option>
                    </select>in.
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-inline">
                    <select class="form-control" ng-model="employee.weight">
                        <option ng-repeat="n in [] | range:300">{{n}}</option>
                    </select>lbs.
                    <input class="form-control" type="text" placeholder="Age" ng-model="employee.age" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-inline">
                    <select class="form-control" ng-model="employee.dob_month">
                        <option ng-repeat="n in [] | range:12">{{n}}</option>
                    </select>-
                    <select class="form-control" ng-model="employee.dob_day">
                        <option ng-repeat="n in employee.getDays()">{{n}}</option>
                    </select>-
                    <select class="form-control" ng-model="employee.dob_year">
                        <option ng-repeat="n in employee.getYears()">{{n}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-inline">
                    <select class="form-control" ng-model="employee.gender">
                        <option ng-repeat="n in ['M', 'F']">{{n}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <textarea class="form-control"
                          placeholder="Notes"
                          ng-model="employee.notes">
                </textarea>
            </div>
            <div class="col-sm-6 checkbox">
                <label>
                    <input type="checkbox" ng-model="employee.left_handed"/>
                    Left-handed
                </label>
            </div>
            {% endverbatim %}
            <div class="col-sm-12">
                {% include 'company/tabs/delete_object_button.html' with object='employee' %}
                {% include 'company/tabs/save_object_button.html' with object='employee' %}
            </div>

        </div>
    </div>
</script>