<script type="text/ng-template" id="navbar_department">

    <li class="navbar-department">
        {% verbatim %}
            <a href="/dashboard/department/{{ department.id }}/">
                {{ department.name }}
            </a>
        {% endverbatim %}
    </li>

</script>