<script type="text/ng-template" id="navbar_company">

    <li class="navbar-company">
        {% verbatim %}
            <a href="/dashboard/company/{{ company.id }}/">
                {{ company.name }}
            </a>
        {% endverbatim %}
    </li>

</script>