{% extends "base/base.html" %}

{% block title %}Welcome to Kinetic{% endblock %}
{% block navmenu_items %}
    {% if False %}
        <li><a href="/">How it works</a></li>
        <li><a href="/">Solutions for your business</a></li>
        <li><a href="/">Pricing</a></li>
    {% endif %}
    {#% if user.is_authenticated %#}
        <li><a href="/dashboard">Dashboard</a></li>
    {#% endif %#}
{% endblock %}

{% block page_header %}{% include 'landing/page_header.html' %}{% endblock %}
{% block content %}
    {% include 'landing/content.html' %}
{% endblock %}