<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/assets/css/custom.css"/>
<link rel="stylesheet" href="/assets/css/fonts/font-awesome.min.css">

<script type="text/javascript" src="/assets/js/app/lib/angular.min.js"></script>
<script type="text/javascript" src="/assets/js/app/lib/angular-cookies.min.js"></script>
<script type="text/javascript" src="/assets/js/app/dashboardApp.js"></script>
<script type="text/javascript" src="/assets/js/app/controllers/navbarController.js"></script>
