<div class="form-horizontal">
    <div class="form-group">
        <label for="loginEmail" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" id="loginEmail" placeholder="Email" ng-model="loginModal.email">
        </div>
    </div>
    <div class="form-group">
        <label for="loginPassword" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="loginModal.password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <button class="btn btn-link pull-right" ng-click="loginModal.change('signup')">Sign Up</button>
            </div>
        </div>
    </div>
</div>
