<div id="login_box" class="modal fade" ng-class="{'in': loginModal.visible}"
     ng-style="{display: (loginModal.visible ? 'block' : 'none') }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {% verbatim %}
                        {{ loginModal.modalHeader() }}
                    {% endverbatim %}
                </h4>
            </div>
            <div class="modal-body" ng-keypress="loginModal.doAction($event)">
                <div ng-show="loginModal.tabs.login">
                    {% include 'base/login_modal/login.html' %}
                </div>
                <div ng-show="loginModal.tabs.signup">
                    {% include 'base/login_modal/signup.html' %}
                </div>
            </div>
            <div class="modal-footer">
                {% verbatim %}
                <button type="button"
                        class="btn btn-success"
                        ng-click="loginModal.doAction($event)">{{ loginModal.tabs.login ? 'Login' : 'Signup' }}</button>
                <button type="button"
                        class="btn btn-primary"
                        ng-click="loginModal.hide()">Close</button>
                {% endverbatim %}
            </div>
        </div>
    </div>
</div>
<div class="overlay" ng-cloak ng-show="loginModal.visible"></div>
