<div class="form-horizontal">
    <div class="form-group">
        <label for="signupCompany" class="col-sm-3 control-label">Company Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="signupCompany" placeholder="Company Name" ng-model="loginModal.company">
        </div>
    </div>
    <div class="form-group">
        <label for="signupEmail" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" id="signupEmail" placeholder="Email" ng-model="loginModal.email">
        </div>
    </div>
    <div class="form-group">
        <label for="signupPassword" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="signupPassword" placeholder="Password" ng-model="loginModal.password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <button class="btn btn-link pull-right" ng-click="loginModal.change('login')">Log In</button>
            </div>
        </div>
    </div>
</div>